@{

    Layout = "~/Views/Shared/_Layout_Home_User.cshtml";
}
@model MARKET.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}
<h1>فراموشی کلمه عبور</h1>
<hr />
@if (ViewBag.Success != null || ViewBag.Success == true)
{
    <div class="alert alert-success">
        <h4>برای تغییر کلمه عبور لینکی برای شما ایمیل شد، ایمیل خود را چک کنید</h4>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/User/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/User/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}