@model MARKET.Models.ResetPasswordViewModel
@{

    Layout = "~/Views/Shared/_Layout_Home_User.cshtml";
}

@{
    ViewData["Title"] = "ResetPassword";
}
<h1>بازیابی کلمه عبور</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActiveCode" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/User/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/User/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}