@model Be.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.username عزیز !</h2>
    <p>با تشکر از ثبت نام شما در مای لرن ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44330/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>
